# .env file for secrets not comitted to the repo (is in .gitignore)
# REQUIRED: make your own .env file in the root of the repo with the below


# ---- SMTP Configuration ----
SMTP_HOST=smtp.your_org.edu
SMTP_PORT=587
SMTP_FROM=email@your_org.edu
SMTP_USERNAME=username # leave blank if none
SMTP_PASSWORD=pw # leave blank if none

# ---- Logging ----
LOGGING_LEVEL=INFO # see python logging documentation for options

# ---- Developer Settings ----
DEV_MODE=False # if true, disables the ability to send emails

# ---- Module Configuration ----
SUPPORTED_LOCATIONS_MODE=none # options: chico
SUPPORTED_LOCATIONS_FILE_PATH=none # Chico's sharepoint export

ID_TO_EMAIL_MODULE=zoom_csv # options: zoom_csv
ID_TO_EMAIL_FILE_PATH=zoomus_users.csv # leave blank if not using zoom_csv

# ---- FacilitiesLink Schedule CSV File Path ----
SCHEDULE_MODULE=fl_csv # options: fl_csv
FL_FILE_PATH=FacilitiesLinkClassScheduleDaily.csv # leave blank if not fl_csv

