# .env file for secrets not comitted to the repo (is in .gitignore)
# REQUIRED: make your own .env file in the root of the repo with the below
# See README for options and descriptions

# ---- SMTP Configuration ----
SMTP_HOST=smtp.your_org.edu
SMTP_PORT=587
SMTP_FROM=classroom_support@your_org.edu
SMTP_USERNAME=your_optional_creds
SMTP_PASSWORD=your_optional_creds

# ---- Logging ----
LOGGING_LEVEL=INFO

# ---- Developer Settings ----
DEV_MODE=False

# ---- Supported Locations Module ----
SUPPORTED_LOCATIONS_MODE=none
SUPPORTED_LOCATIONS_FILE_PATH=

# ---- ID to Email Module ----
ID_TO_EMAIL_MODULE=zoom_csv
ZOOM_CSV_PATH=zoomus_users.csv

# ---- Schedule Data Module ----
SCHEDULE_MODULE=fl_csv
FL_FILE_PATH=FacilitiesLinkClassScheduleDaily.csv