# .env file for secrets not comitted to the repo (is in .gitignore)
# REQUIRED: make your own .env file in the root of the repo with the below
# NOTE: Do NOT use quotes around values unless the quotes are part of the actual value


# ---- SMTP Configuration ----
SMTP_HOST=smtp.your_org.edu
SMTP_PORT=587
SMTP_FROM=classroom@your_org.edu
SMTP_USERNAME=your_user
SMTP_PASSWORD=your_secret

# ---- Logging ----
LOGGING_LEVEL=INFO

# ---- Developer Mode (stops email sending) ----
DEV_MODE=True

# ---- Supported Locations Module ----
SUPPORTED_LOCATIONS_MODE=Chico
SUPPORTED_LOCATIONS_FILE_PATH=Supported Locations.csv

# ---- FacilitiesLink Schedule CSV File Path ----
FL_FILE_PATH=FacilitiesLinkClassScheduleDaily.csv

# ---- Zoom Users CSV File Path ----
ZOOM_FILE_PATH=zoomus_users.csv