"""User-generated message templates for contacting instructors."""

default_semester_start_subject = "Classroom Technology Check-In"

# '{locations}' will be replaced with a list of every supported classroom that an instructor teaches in
default_semester_start_message = """Hello,
We are staff of Classroom Technology Services, and we are reaching out regarding the technology in our supported location(s): {locations}

If any of the technology isn't working as expected, or if there's anything we can do to better support your teaching experience, please don't hesitate to reply to this email and let us know.

Best regards,
Classroom Technology Services
your_email@your_org.edu
555-555-5555

# ------------------------------------------------------------------------------------------------------------------

default_room_contact_subject = "Classroom Technology Update"

default_room_contact_message = """Hello,
The CTS supported classroom: {location},
<insert reason for contact here>"""
